<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Perfiles
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <ion-slides>

        <ion-slide *ngFor="let profile of profiles; index as i">
            <div class="slide">
                <img src="{{profile.image}}" />
                <h2>{{profile.name}}</h2>
                <h3>{{profile.city}}</h3>
                <ion-fab horizontal="end">
                    <ion-fab-button color="primary" (click)="addLike(i)">
                        <ion-icon name="thumbs-up-outline"></ion-icon>
                    </ion-fab-button>
                    <ion-fab-button color="danger" (click)="addLove(i)">
                        <ion-icon name="heart-circle-outline"></ion-icon>
                    </ion-fab-button>
                </ion-fab>
                <div *ngIf="profile.likes>0">
                    <ion-button size="small" color="primary">{{profile.likes}}</ion-button>
                </div>
                <div *ngIf="profile.love>0">
                    <ion-button size="small" color="danger">{{profile.love}}</ion-button>
                </div>
                <ion-item color="success" *ngFor="let interest of profile.interests; let indice = index">
                    <ion-label>{{profile.interests[indice]}}</ion-label>
                </ion-item>
            </div>
        </ion-slide>

    </ion-slides>
</ion-content>